<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Instbot</title>
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
  </head>
  <body class="lang-ko">
    <div id="app">
      <ul class="tab tab-block">
        <li class="tab-item" v-for="tab of tabs" :key="tab.id">
          <router-link
            :to="tab.id"
            active-class="active">{{tab.displayName}}</router-link>
        </li>
      </ul>
      <div class="container mt-2">
        <router-view></router-view>
      </div>
    </div>

    <template id="general">
      <div class="form-group" v-for="f of fields" :key="f.key">
        <template v-if="f.type === 'checkbox'">
          <label class="form-switch">
            <input
              type="checkbox"
              :checked="s.getItem(f.key) === 'true'"
              @change="s.setItem(f.key, $event.target.checked)">

            <i class="form-icon"></i>
            {{ f.name }}
          </label>
        </template>
        <template v-else>
          <label class="form-label" :for="f.key">{{f.name}}</label>
          <input
            class="form-input"
            :id="f.key"
            :type="f.type"
            :placeholder="f.placeholder"
            :value="s.getItem('instbot--' + f.key, f.def)"
            @input="s.setItem('instbot--' + f.key, $event.target.value)">
        </template>
        <p v-if="f.hint" class="form-input-hint">{{f.hint}}</p>
      </div>
    </template>

    <template id="about">
      <h2 class="text-center">ffxiv-instbot</h2>
      <h5 class="text-center">파판14 인게임 인스턴스 이동 알림봇</h5>
    </template>

    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="main.js"></script>
  </body>
</html>